cmake
packaging
setuptools
torch
wheel
datasets
transformers
safetensors
psutil
accelerate
gradio
plotly
pynvml
tqdm
sentence_transformers
wheel
pre-commit
black
pylint
flake8
mypy
ipython
pytest
clang-format==18.1.5
